.css {
    /*background-color: #e1dedd;*/
    border-radius: 15px;
}


.MuiDataGrid-root {
    border-radius: 10px;
    font-size: medium;
}

.navbar {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

.collection {
    padding-top: 70px;
}

.item-btn {
    width: 10%;
}


.collection h1 {
    color: rgb(55, 93, 147);
}
.items-last h1 {
    color: rgb(55, 93, 147);
}
.main-text{
    text-decoration: none;
    color: #ffffff;
    size: 25px;
}
.modal-body{
    min-height: 70vh;
}
